/* ------------------
  tooltips
------------------ */
:where(html) {
    --tooltipRadius: 0.5rem;
    --tooltipFontSize: 1.2rem;
    --tooltipMove: var(--space-1);
    --tooltipDuration: 190ms;
    --tooltipDelay: 190ms;
    --tooltipPadding: 1rem;
    --tooltipGap: 1rem;
    --tooltipArrowSize: 0.5rem;
    --tooltipLineHeight: 1.3;
    --tooltipEase: ease-in-out;
    --tooltipMaxWidth: 90vw;
    --tooltipZIndex: 2;

    --tooltipLengthSmall: 8rem;
    --tooltipLengthMedium: 15rem;
    --tooltipLengthLarge: 26rem;
    --tooltipLengthXlarge: 38rem;

    --tooltipBg: var(--dark);
    --tooltipColor: var(--white);
}

:where([data-tooltip]:not([data-tooltip=""])) {
    --_tooltipShift: var(--tooltipMove);
    anchor-name: --_tooltipAnchor;
    anchor-scope: --_tooltipAnchor;

    &::before,
    &::after {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        position-anchor: --_tooltipAnchor;
        z-index: var(--tooltipZIndex);
        transition:
            opacity var(--tooltipDuration) var(--tooltipEase),
            translate var(--tooltipDuration) var(--tooltipEase);
    }

    &::before {
        content: "";
        block-size: 0;
        inline-size: 0;
        border: var(--tooltipArrowSize) solid transparent;
    }

    &::after {
        content: attr(data-tooltip);
        inline-size: max-content;
        max-inline-size: var(--tooltipMaxWidth);
        padding: var(--tooltipPadding);
        overflow-wrap: anywhere;
        background-color: var(--tooltipBg);
        border-radius: var(--tooltipRadius);
        color: var(--tooltipColor);
        font-family: var(--fontFamily);
        font-size: var(--tooltipFontSize);
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        line-height: var(--tooltipLineHeight);
        text-align: center;
        text-indent: 0;
        text-shadow: none;
        text-transform: none;
        white-space: normal;
    }

    &:where(
        :hover,
        [tooltip-visible],
        :not([tooltip-nofocus]):is(:focus-visible, :has(:focus-visible))
    ) {
        --_tooltipShift: 0px;

        &::before,
        &::after {
            opacity: 1;
            transition-delay: var(--tooltipDelay);
        }
    }

    &:where(.font-awesome)::after { font-family: FontAwesome, var(--fontFamily) }
    &:where([tooltip-break])::after { white-space: pre }
    &:where([tooltip-break][tooltip-length])::after { white-space: pre-line }
    &:where([tooltip-blunt])::before,
    &:where([tooltip-blunt])::after { transition: none }

    &:where([tooltip-length="small"])::after { inline-size: min(var(--tooltipLengthSmall), var(--tooltipMaxWidth)) }
    &:where([tooltip-length="medium"])::after { inline-size: min(var(--tooltipLengthMedium), var(--tooltipMaxWidth)) }
    &:where([tooltip-length="large"])::after { inline-size: min(var(--tooltipLengthLarge), var(--tooltipMaxWidth)) }
    &:where([tooltip-length="xlarge"])::after { inline-size: min(var(--tooltipLengthXlarge), var(--tooltipMaxWidth)) }
    &:where([tooltip-length="fit"])::after { inline-size: max-content }

    &:where(:not([tooltip-pos]), [tooltip-pos="up"], [tooltip-pos="up-left"], [tooltip-pos="up-right"]) {
        &::before,
        &::after {
            bottom: anchor(top);
            translate: 0 var(--_tooltipShift);
        }

        &::before { border-top-color: var(--tooltipBg) }
        &::after { margin-bottom: var(--tooltipGap) }
    }

    &:where(:not([tooltip-pos]), [tooltip-pos="up"]) {
        &::before,
        &::after {
            left: anchor(center);
            translate: -50% var(--_tooltipShift);
        }
    }

    &:where([tooltip-pos="up-left"]) {
        &::after { left: anchor(left) }
        &::before { left: calc(anchor(left) + var(--tooltipArrowSize)) }
    }

    &:where([tooltip-pos="up-right"]) {
        &::after { right: anchor(right) }
        &::before { right: calc(anchor(right) + var(--tooltipArrowSize)) }
    }

    &:where([tooltip-pos="down"], [tooltip-pos="down-left"], [tooltip-pos="down-right"]) {
        &::before,
        &::after {
            top: anchor(bottom);
            translate: 0 calc(-1 * var(--_tooltipShift));
        }

        &::before { border-bottom-color: var(--tooltipBg) }
        &::after { margin-top: var(--tooltipGap) }
    }

    &:where([tooltip-pos="down"]) {
        &::before,
        &::after {
            left: anchor(center);
            translate: -50% calc(-1 * var(--_tooltipShift));
        }
    }

    &:where([tooltip-pos="down-left"]) {
        &::after { left: anchor(left) }
        &::before { left: calc(anchor(left) + var(--tooltipArrowSize)) }
    }

    &:where([tooltip-pos="down-right"]) {
        &::after { right: anchor(right) }
        &::before { right: calc(anchor(right) + var(--tooltipArrowSize)) }
    }

    &:where([tooltip-pos="left"]) {
        &::before,
        &::after {
            right: anchor(left);
            top: anchor(center);
            translate: var(--_tooltipShift) -50%;
        }

        &::before { border-left-color: var(--tooltipBg) }
        &::after { margin-right: var(--tooltipGap) }
    }

    &:where([tooltip-pos="right"]) {
        &::before,
        &::after {
            left: anchor(right);
            top: anchor(center);
            translate: calc(-1 * var(--_tooltipShift)) -50%;
        }

        &::before { border-right-color: var(--tooltipBg) }
        &::after { margin-left: var(--tooltipGap) }
    }
}
