<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="Skelet." property="Sēlekkt. Studio" content="https://selekkt.dk/skelet/v3/">

    <title>Example 1</title>
    <meta name="description" content="Build with Skelet.css: Example 1">
    <meta name="author" content="Selekkt.">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    
    <!-- Facebook OG Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    
    <link rel="canonical" href="">

    <link rel="icon" type="image/png" href="img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="img/touch.png">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"> <!-- browse the icons: https://fontawesome.com/icons?d=listing&m=free -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Selekkt/skelet@3.3.0/css/skelet.min.css">

    <style>
        :root { 
            --fontSize: calc(100vw / 90); 
            --hHeading: 9vw;
            --sitePadding: 5rem;
            --margin: 2rem;
        }

        #app { padding: var(--sitePadding); max-width: 1600px; margin: 0 auto; }
        .logo { font-size: var(--hHeading); letter-spacing: 0; line-height: 1; font-weight: 800 }

        span[class*="space"] { display: block; width: 100%; margin: var(--spacer, 0.5rem) auto; }
        .space  { --spacer: 3rem; }
        .space1 { --spacer: 5vw; }
        .space2 { --spacer: 10vw; }
        .space3 { --spacer: 20vw; }
        .space4 { --spacer: 25vw; }
        .space5 { --spacer: 30vw; }

        @media (max-width: 600px) { 
            :root {
                --fontSize: 0.8rem; 
                --hHeading: 3rem;
                --sitePadding: 2rem;
            } 
        }
    </style>

</head>
<body>
<div id="app">
    <main>
        <x-grid columns="8">
            <x-col span="row">
                <div class="logo">Neue Grafik</div>
                <div class="logo">New Graphic Design</div>
                <div class="logo">Graphisme actuel</div>
            </x-col>
        </x-grid>

        <span class="space1"></span>

        <x-grid columns="4" columns-s="3">
            <x-col span="2+1" span-s="1">Internationale Zeitschrift für Grafik und verwandte Gebiete Text dreisprachig (deutsch, englisch, französisch)</x-col>
            <x-col span="1">International Review of Graphic Design and related subjects Issued in German, English and French</x-col>
            <x-col span="1">Revue internationale du graphisme et des domaines annexes Parution en langue allemande, anglaise et fraoqaise</x-col>
        </x-grid>

        <span class="space2"></span>

        <x-grid columns="1">
            <x-col><h1>16</h1></x-col>
        </x-grid>
        <x-grid columns="4">
            <x-col>
                <p>Hans Neuburg, Zürich</p>
                <p>Thomas Maldonado und Gui Bonsiepe, Ulm<br>
                    Peter Mächler, St. Gallen<br>
                    Richard P. Lohse, Zürich
                </p>
                <p>Georg Radanowicz, Zürich</p>
                <p>Margit Staber, Zürich<br>
                    Peter Lehner, Bern<bt>
                    LMNV
                </p>
                <p>Richard P. Lohse, Zürich</p>
                <p>Margit Staber, Zürich</p>

                <span class="space"></span>

                <p>Herausgeber und Redaktion<br>
                    Editors and Managing Editors<br>
                    Editeurs et rédaction
                </p>
                <p>Druck/Verlag<br>
                    Printing/Publishing<br>
                    Imprimerie/Edition
                </p>
            </x-col>
            <x-col>
                <p>Ausgabe Juli 1963</p>
                <p>Inhalt</p>
                <p>Schweizer Plakate der letzten vier Jahre<br>
                    Ein Zeichensystem für elektro-medizinische Geräte<br>
                    Fortschrittliche Wahlpropaganda<br>
                    Werbung für eine Londoner Möbel-firma<br>
                    Arbeiten von Robert Praed<br>
                    Reine Foto-Grafik<br>
                    Fotoklasse der Kunstgewerbeschule Zürich<br>
                </p>

                <span class="space"></span>

                <p>Einzelnummer Fr. 15.-</p>
                <p>Richard P. Lohse SWB/VSG, Zürich<br>
                    J.MLiller-Brockmann SWB/VSG, Zürich<br>
                    Hans Neuburg SWB/VSG, Zürich<br>
                    Carlo L.Vivarelli SWBVSG, Zürich
                </p>
            </x-col>
            <x-col>
                <p>Issue for July 1963</p>
                <p>Contents</p>
                <p>Swiss Posters of the past four years</p>
                <p>A Sign System for Electromedica Instruments<br>
                    Progressive Elections Notices<br>
                    Publicity for a London Firm of Furniture
                </p>
                <p>Pure Photo-Graphic Design</p>
                <p>Exhibition of Asbestos Pipes</p>
                <p>SWB Design Forum 1962<br>
                    Permanent Braun Pavilion<br>
                    on an Exhibition Site<br>
                    Book jackets of the Thirties
                </p>
                <p>A Painter who is his own Graphic Designer</p>

                <span class="space"></span>

                <p>Single number Fr. 15.-</p>
            </x-col>
            <x-col>
                <p>Juillet 1963</p>
                <p>Table des matiéres</p>
    <p>
    Affiches suisses des quatre annéesécoulées<br>
    Un systéme de signes pour appareils électromedicaux<br>
    Propagande électorale d'avant-garde Publicité pour une maison d'ameublement Iondonienne
                </p>
                <p>Photo-graphisme pur</p>
                <p>L'exposition des tubes de ciment d'amiante<br>
    Forum 1962 de la forme ASAI Pavillon Braun permanent sur I'esplanade d'une foire Couvertures de protection des années trente<br>
    Un peintre-graphiste</p>
    <span class="spacex1"></span>
    <p>Le numéro Fr. 15.-</p>
            </x-col>
        </x-grid>
    </main>
    <footer class="text-end"><a href="https://selekkt.dk/skelet/" class="button is-black">built with Skelet.</a></footer>
</div>
</body>
</html>