<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="Skelet." property="Sēlekkt. Studio" content="https://selekkt.dk/skelet/v3/">

    <title>Example 9</title>
    <meta name="description" content="Build with Skelet.css: Example 9">
    <meta name="author" content="Selekkt.">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    
    <!-- Facebook OG Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    
    <link rel="canonical" href="">

    <link rel="icon" type="image/png" href="img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="img/touch.png">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"> <!-- browse the icons: https://fontawesome.com/icons?d=listing&m=free -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Selekkt/skelet@3.3.0/css/skelet.min.css">

<style>
:root { 
    --fontSize: 1.4rem;
    --primary: #0000ff;
    --blue: var(--primary);
    --color: rgba(17, 51, 83, 0.6);
    --colorHeadings: #000000;
    --borders: rgb(236, 239, 241);
    --buttonBorderColor: var(--borders);
    --buttonBorderHover: var(--primary);
    --hovers: #FAFBFC;
    --boxShadows: 0px 4px 12px 0px rgba(17, 51, 83, 0.02);
    --boxShadowsHover: 0px 7px 20px rgba(0, 0, 0, 0.05);
    --globalRadius: 8px;
    --buttonFontSize: 1.2rem;
    --globalPadding: calc(var(--padding) * 3);
}
a, a:hover { text-decoration: none; } /* remove underline from links */
main, footer { margin: 3rem }
p { margin: 0; }
header { padding: var(--padding) var(--globalPadding); border-bottom: 1px solid var(--borders); background-color: var(--bgColor); z-index: 999; }
header .inline li a:not(.button) { font-size: 1.5rem; font-weight: 500; padding: 0 var(--margin); color: var(--black); }
.logo { --colorHeadings: var(--primary); }

.is-custom:is(button, .button) { --buttonBorderColor: var(--borders); --buttonBorderHover: var(--primary); }

.good { color: var(--green); }
.bad { color: var(--red); }
.medium { color: orange; }
strong { color: var(--black); }
.notimportant { color: var(--color); }

.box { padding: var(--globalPadding); margin: var(--padding) auto; border-radius: var(--globalRadius); box-shadow: var(--boxShadows); border: 1px solid var(--borders); }
.shadow:hover { box-shadow: var(--boxShadowsHover); }

.trending li { margin: calc(var(--margin) * 7) auto; }
.graph { padding: 0; }
.graph .pricing { padding: var(--globalPadding); }
.graph h4 { font-weight: 400; display: inline-block; }
.graph .pricing li { padding: var(--margin); font-size: 1.2rem }
.graph .timeline { padding: var(--margin) 0; border-top: 1px solid var(--borders); border-bottom: 1px solid var(--borders); }
.graph .volumes { padding: var(--padding) 0 }
.graph .volumes strong { font-size: 2rem;  font-weight: 400 }
.graph .volumes span { font-size: 1.3rem }
.stories { padding: var(--globalPadding); }
.stories article { padding: var(--globalPadding) 0;  border-bottom: 1px solid var(--borders); }
.stories article p { font-size: 1.4rem }
.stories article ul { padding-top: 1rem; display: block; }
.stories article li { margin-right: 2.3rem; font-size: 1.4rem }
.newsletter { padding-top: var(--globalPadding); }
@media (max-width: 1024px) { main { margin: 1rem } }
</style>

</head>
<body>
<div id="app">
    <header class="header sticky">
        <x-grid columns="4" ai="center">
            <x-col>
                <div class="logo">
                    <h1 class="h5">Cryptocoinbase</h1>
                </div>
            </x-col>
            <x-col span="2+2">
                <nav class="nav large-only" role="navigation">
                    <ul class="inline">
                        <li><a href="https://selekkt.dk/skelet/v3">Prices</a></li>
                        <li><a href="https://selekkt.dk/skelet/v3">Learn</a></li>
                        <li><a href="https://selekkt.dk/skelet/v3">Products</a></li>
                        <li><a href="https://selekkt.dk/skelet/v3">Company</a></li>
                        <li><a href="https://selekkt.dk/skelet/v3">Earn crypto</a></li>
                    </ul>
                </nav>
            </x-col>
            <x-col class="text-end">
                <ul class="inline">
                    <li><a href="" class="button is-blank">Sign in</a></li>
                    <li><a href="" class="button is-green">Get started</a></li>
                </ul>
            </x-col>
        </x-grid>
    </header>

    <main role="main">
        <section>
            <x-grid columns="8" style="--rowGap: 1rem; --columnGap: 2rem">
                <x-col span="1-5">
                    <x-flex ai="center" style="--rowGap:1rem;">
                        <x-col><img src="https://dynamic-assets.coinbase.com/e785e0181f1a23a30d9476038d9be91e9f6c63959b538eabbc51a1abc8898940383291eede695c3b8dfaa1829a9b57f5a2d0a16b0523580346c6b8fab67af14b/asset_icons/b57ac673f06a4b0338a596817eb0a50ce16e2059f327dc117744449a47915cb2.png" alt="" width="50"></x-col>
                        <x-col><h3 class="inline">Bitcoin</h3></x-col>
                        <x-col>(BTC)</x-col>
                    </x-flex>
                </x-col>
                <x-col span="6.." span-s="row" js="end" js-s="start">
                    <ul class="inline">
                        <li><a href="" class="button is-outline is-custom">Share</a></li>
                        <li><a href="" class="button is-outline is-custom">Add to watch list</a></li>
                    </ul>
                </x-col>
                <x-col span="1-5" span-m="row" span-s="row">
                    <div class="box graph">
                        <x-grid columns="2" class="pricing">
                            <x-col><h4 class="h2">€18,808<sup>.63</sup></h4></x-col>
                            <x-col ps="start end">
                                <ul class="inline">
                                    <li>1H</li>
                                    <li>1D</li>
                                    <li>1W</li>
                                    <li>1M</li>
                                    <li>1Y</li>
                                    <li>ALL</li>
                                </ul>
                            </x-col>
                        </x-grid>

                        <x-grid columns="6" class="timeline text-center">
                            <x-col>15.00</x-col>
                            <x-col>19.00</x-col>
                            <x-col>00.00</x-col>
                            <x-col>04.00</x-col>
                            <x-col>08.00</x-col>
                            <x-col>12.00</x-col>
                        </x-grid>

                        <x-grid columns="3" ji="center" class="volumes">
                            <x-col>
                                <span>Market cap <span data-tooltip="The current price of BTC multiplied by its current circulating supply." data-tooltip-pos="right" data-tooltip-length=medium><i class="fas fa-info-circle"></i></span></span>
                                <div><strong>&euro;350.4B</strong></div>
                            </x-col>
                            <x-col>
                                <span>Volume (24 hours) <span data-tooltip="The total dollar value of all BTC transactions over the past 24 hours. Includes data from all exchanges, not just Coinbase." data-tooltip-pos="right" data-tooltip-length=medium><i class="fas fa-info-circle"></i></span></span>
                                <div><strong>&euro;28.5B</strong></div>
                            </x-col>
                            <x-col>
                                <span>Circulating supply <span data-tooltip="The current price of BTC multiplied by its current circulating supply." data-tooltip-pos="right" data-tooltip-length=medium><i class="fas fa-info-circle"></i></span></span>
                                <div><strong>18.6M BTC</strong></div>
                            </x-col>
                        </x-grid>
                    </div>
                </x-col>
                <x-col span="6.." span-m="row" span-s="row">
                    <div class="box">
                        <h4 class="h6 text-center">Buy</h4>
                        <div class="center-axyz fullwidth" style="margin: 6% 0">
                            <div>
                                <h3 class="h1"><sup>€</sup>0</h3>
                            </div>
                        </div>
                        <div class="text-center"><a href="#" class="button is-primary fullwidth">Buy</a></div>
                    </div>
                </x-col>

                <x-col span="1-5" span-m="row" span-s="row" order-s="">
                    <div class="box">
                    <h3 class="h5">About Bitcoin</h3>
                    <p>Here's another example of how powerfull Skelet. could be out of the box. This page shows how you can create/re-create a website easily in no time with low effort and with even less code thanks to Skelet.css. Feel free to check the source code of this page to see how it's all done.</p>
                    <p><br></p>
                    <p>The recreated site is:<br><a href="https://www.coinbase.com/price/bitcoin">Coinbase</a></p>
                    </div>
                    <div class="box stories">
                        <h3 class="h5">Top stories</h3>
                        <article>
                            <x-grid columns="4">
                                <x-col span="1-3">
                                    <h4 class="h6">10% of Bitcoin's Supply Hasn't Moved for 10 Years</h4>
                                    <p>More than 1.85 million Bitcoin has played dead over the last decade—will any of it move again?</p>
                                    <ul class="inline">
                                        <li>Selekkt.</li>
                                        <li>24 hours ago</li>
                                        <li><span class="medium">&bull;</span> Bitcoin</li>
                                    </ul>
                                </x-col>
                                <x-col span="4..">
                                    <img src="https://dynamic-assets.coinbase.com/3560563789f70867a34f4283dfedd5c47a866be1e4526ae28cca09ef72384ac1b5252965c5dd03e84b393e37f21093ccd28045cc9b5c5670f2a5a545d90b34bb/news_article_images/8bae25fc92631387fef260d862dbda847f6ed049767f265c75fda49d80a7cd85.jpg" alt="">
                                </x-col>
                            </x-grid>
                        </article>
                        <article>
                            <x-grid columns="4">
                                <x-col span="1-3">
                                    <h4 class="h6">10% of Bitcoin's Supply Hasn't Moved for 10 Years</h4>
                                    <p>More than 1.85 million Bitcoin has played dead over the last decade—will any of it move again?</p>
                                    <ul class="inline">
                                        <li>Selekkt.</li>
                                        <li>24 hours ago</li>
                                        <li><span class="medium">&bull;</span> Bitcoin</li>
                                    </ul>
                                </x-col>
                                <x-col span="4..">
                                    <img src="https://dynamic-assets.coinbase.com/3560563789f70867a34f4283dfedd5c47a866be1e4526ae28cca09ef72384ac1b5252965c5dd03e84b393e37f21093ccd28045cc9b5c5670f2a5a545d90b34bb/news_article_images/8bae25fc92631387fef260d862dbda847f6ed049767f265c75fda49d80a7cd85.jpg" alt="">
                                </x-col>
                            </x-grid>
                        </article>

                        <div class="newsletter">
                            <x-grid columns="8">
                                <x-col span="1+1"><img src="https://icongr.am/devicon/foundation-original.svg?size=128&color=currentColor" alt=""></x-col>
                                <x-col span="2-6">
                                    <h3 class="h6">Don’t miss out on breaking news</h3>
                                    <p>Get the latest headlines on your favorite cryptocurrencies.</p>
                                </x-col>
                                <x-col span="7..">
                                    <ul class="no-style">
                                        <li><a href="" class="button is-blue fullwidth">Continue</a></li>
                                        <li><a href="" class="button is-outline fullwidth">Log in</a></li>
                                    </ul>
                                </x-col>
                            </x-grid>
                        </div>
                    </div>
                </x-col>
                <x-col span="6.." span-m="row" span-s="row" class="trending">
                    <div class="box">
                        <h3 class="h5">Trending assets</h3>
                        <p>Assets with the biggest change in unique page views on Coinbase.com over the past 24 hours</p>
                        <hr>
                        <ul class="no-style">
                            <li>
                                <x-flex ai="stretch" jc="between" style="--rowGap:1rem;--columnGap:0;with:100%;">
                                    <x-col><img src="https://dynamic-assets.coinbase.com/e785e0181f1a23a30d9476038d9be91e9f6c63959b538eabbc51a1abc8898940383291eede695c3b8dfaa1829a9b57f5a2d0a16b0523580346c6b8fab67af14b/asset_icons/b57ac673f06a4b0338a596817eb0a50ce16e2059f327dc117744449a47915cb2.png" alt="" width="60"></x-col>
                                    <x-col class="text-start">
                                        <strong>Bitcoin</strong>
                                        <div>BTC</div>
                                    </x-col>
                                    <x-col class="text-end">
                                        <span>&euro; 18,773.39</span>
                                        <div class="good">+944,918.52% views</div>
                                    </x-col>
                                </x-flex>
                            </li>
                            <li>
                                <x-flex ai="stretch" jc="between" style="--rowGap:1rem;--columnGap:0;with:100%;">
                                    <x-col><img src="https://dynamic-assets.coinbase.com/2794f22389d2aeb6b45b73310d23b61ea561ec6a08998d4ed1508c0c4812b09e07b3a5361e6439b129ad178ab58fa6874d9e4a461cac3269bddfa447f3d52c4c/asset_icons/f18bfb77de9b7b8916bf8b892ac14439a7d7dbe4e39b479980bd116eb6d0f970.png" alt="" width="60"></x-col>
                                    <x-col class="text-start">
                                        <strong>Bitcoin</strong>
                                        <div>BTC</div>
                                    </x-col>
                                    <x-col class="text-end">
                                        <span>&euro; 18,773.39</span>
                                        <div class="good">+944,918.52% views</div>
                                    </x-col>
                                </x-flex>
                            </li>
                            <li>
                                <x-flex ai="stretch" jc="between" style="--rowGap:1rem;--columnGap:0;with:100%;">
                                    <x-col><img src="https://dynamic-assets.coinbase.com/a1f4b7b34069888e313f284b49012a01b3bbc37b5113319c7105170a8fe268de8f60be5a0af7a8dafa8aba31fcc21ef44bc30c1e8bbb8379064ac94965bccf26/asset_icons/aafc2f5fff21664213e2a5a2c6e31aa055f277d1069b16745d54f84c0e94f1f3.png" alt="" width="60"></x-col>
                                    <x-col class="text-start">
                                        <strong>Bitcoin</strong>
                                        <div>BTC</div>
                                    </x-col>
                                    <x-col class="text-end">
                                        <span>&euro; 18,773.39</span>
                                        <div class="good">+944,918.52% views</div>
                                    </x-col>
                                </x-flex>
                            </li>
                            <li>
                                <x-flex ai="stretch" jc="between" style="--rowGap:1rem;--columnGap:0;with:100%;">
                                    <x-col><img src="https://dynamic-assets.coinbase.com/b0d22ef41d2fa2ecbb6c116ab9aa5f0ec6541cc63cffd922dd1f1564eda40e20e69cdafd8044c0d512e906b99dcdf0eade4251fe0ca3edd4dfa1ba2e6145cdf4/asset_icons/fed5c36d72b459ebe60c190c315bde2266ae24ff445f5cf599f124ac4fa21713.png" alt="" width="60"></x-col>
                                    <x-col class="text-start">
                                        <strong>Bitcoin</strong>
                                        <div>BTC</div>
                                    </x-col>
                                    <x-col class="text-end">
                                        <span>&euro; 18,773.39</span>
                                        <div class="good">+944,918.52% views</div>
                                    </x-col>
                                </x-flex>
                            </li>
                        </ul>
                    </div>
                </x-col>
            </x-grid>

        </section>
    </main>

    <footer>
        <x-grid columns="5" columns-m="1" columns-s="1">
            <x-col>
                <div class="logo">
                    <h5 class="h5">Cryptocoinbase</h5>
                </div>
                <div>&copy; 2021 Selekkt.</div>
                <ul class="inline">
                    <li>Blog</li>
                    <li>&bull; Twitter &bull;</li>
                    <li>Facebook</li>
                </ul>
            </x-col>
            <x-col>
                <h5 class="h6">Products</h5>
                <ul class="no-style">
                    <li>Commerce</li>
                    <li>Custody</li>
                    <li>Earn</li>
                    <li>Prime</li>
                    <li>Pro</li>
                    <li>USD coin</li>
                    <li>Wallet</li>
                    <li>Ventures</li>
                </ul>
            </x-col>
            <x-col>
                <h5 class="h6">Learn</h5>
                <ul class="no-style">
                    <li>Browse assets</li>
                    <li>What is Crypto?</li>
                    <li>What is Bitcoin?</li>
                    <li>What is a Blockchain?</li>
                    <li>Buy Bitcoin</li>
                    <li>Buy Bitcoin Cash</li>
                    <li>Buy Ethereum</li>
                    <li>Buy Litecoin</li>
                    <li>Buy XRP</li>
                    <li>Supported countries</li>
                    <li>Status</li>
                    <li>Taxes</li>
                </ul>
            </x-col>
            <x-col>
                <h5 class="h6">Company</h5>
                <ul class="no-style">
                    <li>About</li>
                    <li>Affiliates</li>
                    <li>Careers</li>
                    <li>Partners</li>
                    <li>Press</li>
                    <li>Legal & Privacy</li>
                    <li>Cookie Policy</li>
                </ul>
            </x-col>
            <x-col>
                <h5 class="h6">Support</h5>
                <ul class="no-style">
                    <li>Help Center</li>
                    <li>Contact Us</li>
                    <li>Create account</li>
                    <li>ID verification</li>
                    <li>Account information</li>
                    <li>Payment methods</li>
                    <li>Account access</li>
                    <li>Send/Receive crypto</li>
                    <li>Supported crypto</li>
                    <li>Pricing and fees</li>
                </ul>
            </x-col>
        </x-grid>
    </footer>
</div>

</body>
</html>