<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="Skelet." property="Sēlekkt. Studio" content="https://selekkt.dk/skelet/v3/">

    <title>Example 7</title>
    <meta name="description" content="Build with Skelet.css: Example 7">
    <meta name="author" content="Selekkt.">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    
    <!-- Facebook OG Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    
    <link rel="canonical" href="">

    <link rel="icon" type="image/png" href="img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="img/touch.png">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"> <!-- browse the icons: https://fontawesome.com/icons?d=listing&m=free -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Selekkt/skelet@3.3.0/css/skelet.min.css">

    <style>
        :root { 
            --fontSize: calc(100vw / 90); 
            --hHeading: 4vw;
            --siteMarg: 5rem;
            --columnGap: 5rem;
        }
        h4,h6 { font-weight: 200 }
        #app { max-width: 1600px; margin: 0 auto; }
        header,main { padding: 5rem var(--siteMarg); }
        .h1 { font-size: var(--hHeading); letter-spacing: 0; }
        .title { opacity: 0; transition: all 200ms ease-in-out; }
            .block h6 { color: var(--dark); }
        .block:hover > .title { opacity: 1; }
        .space1 { display: block; width: 100%; margin: 5vw auto;}
        .latest { padding: 3rem 10rem; width: 100%; background-color: var(--black); color: var(--white); }
        footer { padding: 3rem; background-color: var(--dark); }
            footer { color: var(--colorInverse); }

        @media (max-width: 600px) { 
            :root {
                --fontSize: 1.3rem; 
                --hHeading: 2.8rem;
                --siteMarg: 1rem;
            }
            .latest { padding: 5rem; }
        }
    </style>

</head>
<body>
<div id="app">
    <header>
        <x-grid columns="2">
            <x-col span="1">
                <h1 class="h1" start animation=fadein-left ease=easeInOutQuad style="--duration: 500ms;">Make future</h1>
            </x-col> 
            <x-col span="1" start animation=fadein-up ease=easeInOutQuad style="--duration: 500ms;">
                <p>This is an example </p>
                <p>of how quickly you can redo a website with <u>Skelet.</u> in few lines of code.
                    <br> Check out the [<a href="https://www.makefuture.co/" rel="nofollow" target="_blank">Original site</a>] or a <a href="https://i.imgur.com/nJRZTRY.png" rel="nofollow" target="_blank">Screenshot</a> of it.
                </p>
            </x-col>
        </x-grid>
    </header>

    <span class="space1"></span>

    <main>
        <x-grid columns="8">
            <x-col span="1-4" span-s="row" class="block">
                <img src="https://images.unsplash.com/photo-1573921470445-8d99c48c879f?w=700" alt="" start animation=fadein-up ease=easeInOutQuad style="--duration: 1s;">
                <div class="title">
                    <h4>Lorem ipsum</h4>
                    <h6>Lorem ipsum dolor sit amet, consectetur</h6>
                </div>
            </x-col> 
            <x-col span="5.." span-s="row" ps="end" class="block">
                <img src="https://images.unsplash.com/photo-1563313607-9a306a467223?w=700" alt="" width="400" start animation=fadein-up ease=easeInOutQuad style="--duration: 1s;">
                <div class="title">
                    <h4>Lorem ipsum</h4>
                    <h6>Lorem ipsum dolor sit amet, consectetur</h6>
                </div>
            </x-col>
            <x-col span="3-6" span-s="row" class="block">
                <figure>
                    <picture>
                    <source sizes="100vw" srcset="https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=600 600w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=800 800w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=1000 1000w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=1600 1600w" type="image/webp" srcset="https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=600 600w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=800 800w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=1000 1000w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=1600 1600w">
                    <img src="https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=700" sizes="100vw" data-srcset="https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=600 600w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=800 800w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=1000 1000w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=1600 1600w" alt="Future-Fires-Home-Make-Future" srcset="https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=600 600w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=800 800w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=1000 1000w, https://images.unsplash.com/photo-1568878801942-6fc477a748db?w=1600 1600w">
                    </picture>
                </figure>
                <div class="title">
                    <h4>Lorem ipsum</h4>
                    <h6>Lorem ipsum dolor sit amet, consectetur</h6>
                </div>
            </x-col>
            <x-col span="1-4" span-s="row" ps="end start" class="block">
                <img src="https://images.unsplash.com/photo-1567403731535-d4302684fb0c?w=600" alt="" width="400">
                <div class="title">
                    <h4>Lorem ipsum</h4>
                    <h6>Lorem ipsum dolor sit amet, consectetur</h6>
                </div>
            </x-col> 
            <x-col span="5.." span-s="row" class="block">
                <img src="https://images.unsplash.com/photo-1567479094727-96a0e31ec384?&w=600" alt="">
                <div class="title">
                    <h4>Lorem ipsum</h4>
                    <h6>Lorem ipsum dolor sit amet, consectetur</h6>
                </div>
            </x-col>
        </x-grid>
    </main>

    <div class="latest">
        <h2>Latests</h2>
        <x-grid columns="2">
            <x-col span-s="row">
                <p><img src="https://images.unsplash.com/photo-1495615080073-6b89c9839ce0?w=600" alt=""></p>
                <p><h6>2020</h6></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </x-col>
            <x-col span-s="row">
                <p><img src="https://images.unsplash.com/photo-1495615080073-6b89c9839ce0?w=600" alt=""></p>
                <p><h6>2020</h6></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </x-col>
            <x-col span-s="row">
                <p><img src="https://images.unsplash.com/photo-1495615080073-6b89c9839ce0?w=600" alt=""></p>
                <p><h6>2020</h6></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </x-col>
            <x-col span-s="row">
                <p><img src="https://images.unsplash.com/photo-1495615080073-6b89c9839ce0?w=600" alt=""></p>
                <p><h6>2020</h6></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </x-col>
        </x-grid>
    </div>

    <footer class="text-end">
        <x-grid columns="2">
            <x-col ps="center start">example@example.com</x-col>
            <x-col ps="center end"><a href="https://selekkt.dk/skelet/" class="button is-white">built with Skelet.</a></x-col>
        </x-grid>
    </footer>
</div>

</body>
</html>