.hero { height: 100vh; }

.blocks section { margin: 100px auto; overflow: auto; }

.logo { margin-top: 20px; }

nav { position: fixed; top: 10px; right: 20px;  text-align: right; height: 100%; overflow-x: scroll; }
nav li a { padding: 0 .5rem; }

.blocks section h1 {
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.col, [class*="col-"], [class*="col-md-"] { padding: .7rem; }

.footer { margin: 50px auto; }
.footer img { display: block; text-align: center; margin: 0 auto; }

@media (max-width: 720px) {
	nav {display: none; }
}